// Breakpoint variables;
$breakpoints: (
    'small':  ( min-width:  420px ),
    'medium':  ( min-width:  767px ),
    'large': ( min-width:  992px ),
    'extra-large': ( min-width: 1200px )
)!default;



// color pallet
$primary-color: #344955;
$primary-color-dark: #232F34;
$primary-color-light: #4A6572;


$secondary-color:#F9AA33;

$surface-color: #FFFFFF;
$background-color: #FFFFFF;
$error-color: #B00020;



